<div class="alert text-center py-4">
    <p class="mb-0 fs-5 text-uppercase font-staatliches">Your cart is empty. ¡Add some products!</p>
    <%= link_to "Go to the shop", "/shop/index", class: "btn btn-primary mt-3 font-staatliches text-uppercase p-3" %>
</div>