<div id="shop-header" class="col d-flex flex-column align-items-center text-uppercase p-3">
    <div class="section-title font-staatliches">Shop</div>
</div>

<div id="decorative-divider" class="col d-flex flex-column align-items-center">
    <%= image_tag "patron_decorativo.png", class: "img-fluid" %>
</div>