<div class="toast align-items-center text-white bg-cart border-0 fade show p-3" 
     role="alert" 
     aria-live="assertive" 
     aria-atomic="true"
     data-bs-delay="4000"
     data-bs-autohide="true">
  
  <div class="d-flex align-items-center">
    
    <div class="toast-body font-jaro text-center flex-fill"> 
      <strong><%= product_name %></strong> added to the cart.
    </div>
    
    <button type="button" 
            class="btn-close btn-close-white me-2" 
            data-bs-dismiss="toast" 
            aria-label="Close">
    </button>
  </div>
</div>

<script>
  // Inicializa y muestra el Toast de Bootstrap (requiere que Bootstrap JS se cargue)
  const toastEl = document.querySelector('.toast');
  const toast = new bootstrap.Toast(toastEl);
  toast.show();
  
  // Limpia el DOM después de que el toast se oculte
  toastEl.addEventListener('hidden.bs.toast', (event) => {
    event.target.remove();
  })
</script>